# Default ignored files
/cloudfunction/getList/node_modules/
/cloudfunction/getList/package-lock.json

/node_modules/
/miniprogram_npm/
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
